html, body {
	padding: 0;
	margin: 0;
	background-color: #fafafa;
}

.header_info {
	text-align: center;
}

#container > div {
	text-align: center;
}

.footer_info {
	text-align: center;
}

.footer_logo {
	margin: 50px;
}

.sample_wrap {
	text-align: center;
	margin: 20px;
	padding: 20px;
	opacity: 0;
	transition: opacity 1s linear;
}

.sample_wrap.show {
	opacity: 1;
}

.sample_wrap > img {
	height: 300px;
}